{% extends "templateBase.html" %}
{% block content %}
{% if form.errors %}
<p>Error , el nom de usuari o la contrasenya son incorrectes. Tornau a intentar.</p>
{% endif %}
<form method="post" action="{% url django.contrib.auth.views.login%}" >
{% csrf_token %}
<table>
<tr>
    ><p><label for="id_username">Username:</label>
        <td>{{ form.username }}</p></td>
    <p><label for="id_password">Password:</label>
        <td>{{ form.password }}</p></td>
</table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="/" />
</form>
{% endblock %}
